.header-name, .projects-heading {
  text-align: center;
}

.header-name {
  margin-bottom: 0;
}

.github-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: rgb(10, 41, 88);
}

.github-link:hover {
  color: rgb(199, 232, 247);
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.project {
  margin: 15px;
  width: 80%;
}

.project img {
  width: 100%;
  opacity: 0.5;
}

.image-container {
  position: relative;
}

.project-name {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.view-button {
  background-color: rgb(10, 41, 88);
  color: rgb(199, 232, 247);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.view-button:hover {
  cursor: pointer;
  background-color: rgb(199, 232, 247);
  color: rgb(10, 41, 88);
}

@media only screen and (min-width: 600px) {
  .project {
    width: 40%;
  }
}

@media only screen and (min-width: 850px) {
  .project {
    width: 28%;
  }
}