* {
  box-sizing: border-box;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.project {
  margin: 15px;
  width: 80%;
}

.project img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .project {
    width: 40%;
  }
}

@media only screen and (min-width: 750px) {
  .project {
    width: 25%;
  }
}