* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
  background-color: rgb(138, 209, 231);
  margin-bottom: 30px;
}

.home-name, .home-role {
  text-align: center;
  color:rgb(138, 209, 231);
}

.info-container {
  background-color: rgb(206, 206, 206);
  color:rgb(26, 95, 116);
  font-size: 20px;
  border-radius: 4px;
  width: 60%;
  margin: auto;
}

.about-info {
  padding: 20px;
}

.name-container {
  margin: 50px;
}

.projects-button {
  width: 150px;
  text-align: center;
  margin: 20px auto;
  color: rgb(138, 209, 231);
  background-color: rgb(26, 95, 116);
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.projects-button:hover {
  color: rgb(26, 95, 116);
  background-color: rgb(138, 209, 231);
}

.nav-container {  
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

.nav-item, .name {
  margin: 15px;
  color:rgb(8, 40, 49);
  font-size: 20px;
  font-weight: 700;
}

.nav-item a {
  color:rgb(8, 40, 49);
}

.home-container {
  width: 85%;
  margin: auto;
}

.projects-heading {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(138, 209, 231);
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.project {
  margin: 15px;
  width: 80%;
  background-color: rgb(206, 206, 206);
  border-radius: 4px;
}

.project-name {
  text-align: center;
  padding: 20px;
  color:rgb(26, 95, 116);
}

.project-image {
  width: 100%;
  opacity: 1;
}

.image-container {
  position: relative;
  width: 90%;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  font-size: 20px;
  color:rgb(8, 40, 49);
}

.image-container:hover .project-image {
  opacity: 0.3;
}

.image-container:hover .overlay {
  opacity: 1;
}

.description {
  position: absolute;
  padding: 10px;
  font-weight: 500;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.view-button {
  color: rgb(138, 209, 231);
  background-color: rgb(26, 95, 116);
  font-weight: 600;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  text-decoration: none;
}

.view-button:hover {
  cursor: pointer;
  background-color: rgb(138, 209, 231);
  color: rgb(26, 95, 116);
}

@media only screen and (min-width: 600px) {
  .project {
    width: 40%;
  }
}

@media only screen and (min-width: 850px) {
  .project {
    width: 28%;
  }
}